.card {
  background-color: deeppink;
  padding: 2em;
  border-radius: 5px;
  .main-image {
    width: 500px; /* Adjust width as needed */
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }
}
